# Do not download dependencies if they are already present
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.git/
.husky/
.vscode/
.svelte-kit/
build/
node_modules/
storage/
